<h1>Add your new post</h1>

<form id="newBlogPost">
    <div class="field">
    <label class="label">Title</label>
    <div class="control">
        <input class="input" id="titleInput" type="text" placeholder="Text input">
    </div>
    <label class="label">Content</label>
    <div class="control">
        <textarea class="textarea" id="contentInput" placeholder="Textarea"></textarea>
    </div>

    <button class="button is-primary" id="newBlogBtn">Add Post</button>
    <button class="button is-warning" id="returnBtn"><a href='/dashboard'>Return to Dashboard</a></button>

    </div>
</form>

<script src="/js/newPost.js"></script>
