<form id="signupForm">
    <h3>Sign up</h3>
        <dsiv class="field">
        <label class="label">Username</label>
        <div class="control">
            <input class="input" id="signupUsername" type="text" placeholder="enter your username here">
        </div>
        <label class="label">Email</label>
        <div class="control">
            <input class="input" type="text" id="signupEmail" placeholder="you@email.com">
        </div>
          <label class="label">Password</label>
        <div class="control">
            <input class="input" type="password" id="signupPassword" placeholder="Your password here">
        </div>
        <label class="label">Confirm Password</label>
        <div class="control">
            <input class="input" type="password" id="signupConfirm" placeholder="Confirm password here">
        </div>
        <button type="submit" class="button is-primary" id="newSignup">Sign up</button>
        </div>
</form>

<script src="/js/signup.js"></script>
